.IconOverlay {
  background: var(--image-camera-circle-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Image {
  background: var(--avatar-src);
  background-size: cover;
  background-position: center;
  height: var(--avatar-size);
  width: var(--avatar-size);
  position: absolute;
  border-radius: 14px 4px 12px 2px;
  top: calc(var(--avatar-border-width) + 4px);
  left: calc(var(--avatar-border-width) + 2px);
}
